* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #333;
	font-family: 'Microsoft yahei', '宋体', Arial;
	line-height: 1.5;
}

a {
	color: #333;
	text-decoration: none;
}

.fx::after {
	content: "";
	display: block;
	clear: both;
}

ul,
ol {
	list-style: none;
}