.banner {
  width: 100%;
  min-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.swiper_wrapper {
  width: 300%;
}
.swiper_slide {
  width: 33.33%;
  float: left;
  position: relative;
}
.intro {
  position: absolute;
  left: 46%;
  top: 18%;
}
.slide_img {
  width: 100%;
  /* 将 img 元素设置为 display: block，用以去除 display:inline-block 元素的间隙 */
  display: block;
}
.fx {
  clear: both;
}
ul {
  list-style: none;
}
.download dt {
  color: white;
  line-height: 48px;
}
a.download_link {
  display: block;
  float: left;
  width: 84px;
  height: 106px;
  text-align: center;
  background: url(img/icon.png) no-repeat;
  background-color: rgba(255, 255, 255, 0.85);
  padding-top: 70px;
}
a.download_link:hover {
  background-color: #fff;
}
a.iphone_icon {
  border-radius: 5px 0 0 5px;
  background-position: 26px 22px;
}
a.android_icon {
  background-position: 26px -76px;
}
a.imac_icon {
  background-position: 26px -273px;
}
a.windows_icon {
  border-radius: 0 5px 5px 0px;
  background-position: 26px -378px;
}
.online {
  width: 115px;
  cursor: pointer;
  margin-left: 30px;
  position: absolute;
  top: -2px;
  left: 345px;
}
.online dt {
  height: 37px;
  padding-left: 17px;
  line-height: 37px;
  background: url(img/online.png) no-repeat;
}
.online dd {
  display: none;
  padding: 2px 0 8px 13px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}
.online:hover dt {
  background-position: -120px 0;
}
.online:hover dd {
  display: block;
}
a.contact_icon {
  display: inline-block;
  width: 24px;

  height: 24px;
  background: url(img/online.png) no-repeat;
  margin-right: 4px;
}
a.qzone {
  background-position: -25px -47px;
}
a.kaixin {
  background-position: -50px -47px;
}
a.sina {
  background-position: -100px -47px;
}
.banner {
  position: relative;
}
input[name="banner"] {
  display: none;
}
.swiper_pagination {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.swiper_pagination label {
  cursor: pointer;
  display: block;
  width: 12px;
  height: 12px;
  float: left;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
  margin-right: 15px;
}
.swiper_pagination label:last-child {
  margin-right: 0;
}
a {
  text-decoration: none;
}
