* {

    margin: 0;
    /* 设置页面元素的外边距为0 */

    padding: 0;
    /* 设置页面元素的内边距为0 */

    box-sizing: border-box;
    /* 设置页面的盒模型计算模式 */

}




.container {
    /* 主容器宽度设置 */
    width: 1000px;
    /* 主容器字体颜色设置 */
    color: #333;
    /* 主容器居中设置 */
    margin: auto;
}

.title {
    height: 60px;
    border-bottom: 1px solid #ddd;
    /*设置底边框 1 像素 实线 灰色*/
    margin-bottom: 30px;
    /*底部外边距 30 像素*/
}

.title h3 {
    color: #444866;
    height: 60px;
    line-height: 60px;
    /* 当 height 值=line-height 值时，单行文本竖直居中*/
    padding-left: 10px;
    /*容器的左侧内边距为 10 像素*/
}

.contact {
    margin-bottom: 30px;
    /*联系栏底部外边距 30 像素*/
}

.contact .column {
    width: 300px;
    height: 130px;
    cursor: pointer;
    /*联系栏子容器鼠标移入时显示手型*/
    border-radius: 4px;
    /*联系栏子容器圆角为 4 像素*/
    background: #f2f2f2;
    float: left;
    /*联系栏子容器左浮动*/
    margin-right: 40px;
    /*联系栏子容器右侧外边距为 40 像素*/
    padding: 20px 0;
    /*联系栏子容器上下内边距为 20 像素，左右内边距为 0*/
}

.contact .column:last-child {
    margin-right: 0;
    /*联系栏最后一个子容器的右侧外边距为 0，防止子容器总宽度超出父容器*/
}

.contact h6 {
    font-weight: normal;
    /*设置联系栏子容器中的 h6 标签为非粗体*/
    margin: 8px 0;
}

.contact p {
    font-size: 14px;
}

.contact p,
.contact h6 {
    text-align: center;
    /*设置联系栏子容器中的 p 标签和 h6 标签字体居中*/
    color: #444866;
}

.contact .column:hover {
    background: #38b774;
    /*当鼠标移入容器时，背景为淡绿色*/
}

.contact .column:hover p,
.contact .column:hover h6 {
    color: white;
    /*当鼠标移入容器时，容器内的 p 标签和 h6 标签字体为白色*/

}

.contact_icon {
    width: 40px;
    /*设置联系栏子容器图标宽为 40 像素*/
    height: 40px;
    /*设置联系栏子容器图标高为 40 像素*/
    background: url(img/icon.png) no-repeat;
    /*设置联系栏子容器图标背景，且不重复*/
    margin: auto;
    /*设置联系栏子容器图标水平居中*/
}

.tel {
    background-position: 0 -684px;
    /*设置联系栏子容器图标的精灵图定位*/
}

.qq {
    background-position: 0 -753px;
}

.email {
    background-position: 0 -826px;
}

.contact .column:hover .tel {
    background-position: -44px -684px;
    /*设置联系栏子容器图标鼠标移入时的精灵图定位*/
}

.contact .column:hover .qq {
    background-position: -44px -753px;
}

.contact .column:hover .email {
    background-position: -44px -826px;
}

.slide_bar {
    width: 200px;
    float: left;
    /*设置侧边栏左浮动*/
}

.slide_bar li {
    height: 80px;
    /*设置侧边栏导航按钮宽度*/
    line-height: 80px;
    /*设置侧边栏导航按钮高度*/
    border-bottom: 1px solid #ddd;
    /*设置侧边栏导航按钮底边样式*/
    padding-left: 15px;
}

.slide_bar li:hover {
    background: #38b774;
    /*设置侧边栏导航按钮鼠标移入时背景为淡绿色*/
}

.slide_bar li:hover span {
    color: white;
    /*设置侧边栏导航按钮鼠标移入时文字为白色*/
}

.dev_icon {
    width: 36px;
    /*设置侧边栏导航图标宽度*/
    height: 36px;
    /*设置侧边栏导航图标高度*/
    background: url(img/icon.png) no-repeat;
    /*设置侧边栏导航图标的精灵图背景*/
    display: inline-block;
    vertical-align: middle;
}

.apple {
    background-position: 0 0;
    /*设置侧边栏导航图标的精灵图定位*/
}

.android {
    background-position: 0 -100px;
}

.windows {
    background-position: 0 -400px;
}

.slide_bar li:hover .apple {
    background-position: -245px 0;
    /*设置侧边栏导航图标鼠标移入时的精灵图定位*/
}

.slide_bar li:hover .android {
    background-position: -245px -100px;
}

.slide_bar li:hover .windows {
    background-position: -245px -400px;
}

.product_item {
    width: 215px;
    height: 192px;
    border-radius: 4px;
    border: 1px solid #ddd;
    float: left;
    margin-bottom: 20px;

    font-size: 14px;
}

.product_item_group {

    width: 500px;

    padding: 0 25px;

    float: left;

}

.fx::after {

    /*使用伪元素清除浮动*/

    content: "";

    display: block;

    clear: both;

}

.product_item_group .product_item:nth-child(2n) {
    margin-left: 20px;
}

.product_item p {
    /* 产品项标题样式 */
    text-align: center;
    margin-bottom: 8px;
}

.product_item p span {
    /* 产品项英文小标题样式 */
    color: #38b774;
    font-size: 12px;
}

.product_item img {
    /* 产品项图片样式 */
    width: 100%;
    border-radius: 4px;
}

.download {
    /* 下载选项列表样式 */
    font-size: 12px;
    margin-top: 8px;
}

.download_item {
    /* 下载选项样式 */
    float: left;
    width: 50%;
    text-align: center;
}

.download .download_item:nth-child(1) {
    /* 下载选项分割线 */
    border-right: 1px solid #ddd;
}

.download_icon {
    width: 18px;
    height: 18px;
    background: url(../img/icon.png) no-repeat;
    margin-right: 2px;
    background-size: 139px 450px;


    display: inline-block;
    vertical-align: bottom;
}

.android_icon {
    background-position: 0 -48px;
}

.product_list ul li {
    padding: 6px;
    height: 88px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
}

.product_list ul li:hover {
    background: #dcdcdc;
}

.product_list ul li img {
    vertical-align: top;
    width: 115px;
    height: 77px;
    padding-right: 8px;
}

.product_list ul li span {
    display: inline-block;
    width: 145px;
}