
body {
    padding-top: 60px;
  }
  

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #e7e7e7;
    background-color: #615d63;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  h1 {
    position: absolute;
    top: 2%;
    left: 0%;
    transform: translate(50%, 50%);
    
  }

li {
    float: left;
    color: #666;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
/*鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
    float: right;
}